/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  width: 100%;
  border-bottom: 1px solid black;
  height: 100px;
}
.anchor-div {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  width: 30%;
}
nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px 1px rgba(80, 78, 80, 0.1);
  background: #DB7C1E;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  margin: 0 4%;
}
nav a:hover {
  color: black;
}
nav .header-logo {
  height: 70px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DB7C1E;
  width: 100%;
  height: 70px;
}
footer p {
  color: white;
}
.container .Top-section {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-image: url(../assets/images/Food1.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  background-attachment: fixed;
  background-position: top;
}
@media (max-width: 500px) {
  .container .Top-section {
    margin: 0%;
    background-size: 100%;
  }
}
.container .Top-section .text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}
@media (max-width: 500px) {
  .container .Top-section .text {
    height: auto;
    width: auto;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-left: 5%;
    font-size: 1.5rem;
    padding: 5%;
  }
}
.container .Top-section .text h1 {
  display: flex;
  font-size: 4rem;
  height: 20%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .Top-section .text h1 {
    width: 100%;
    height: 100% ;
    font-size: 2.5rem;
  }
}
.container .Top-section .text p {
  display: flex;
  height: 55%;
  margin: 5%;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .container .Top-section .text p {
    display: none;
    width: 100%;
    height: 100% ;
  }
}
.container .Top-section .text div {
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: center;
}
.container .Top-section .text div .btn {
  display: flex;
  justify-content: center;
  block-size: 3rem;
  width: 10rem;
  background-color: #DB7C1E;
  color: white;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
}
.container .Top-section .text div .btn:hover {
  border: solid 2px #DB7C1E;
  color: #2d3032;
  background: none;
}
@media (max-width: 500px) {
  .container .Top-section .text div .btn {
    margin-top: 10%;
    width: 30%;
    height: 4rem ;
  }
}
.container .Top-section .image img {
  display: none;
  margin: 5%;
  block-size: 35rem;
}
@media (max-width: 500px) {
  .container .Top-section .image img {
    width: 100%;
    height: 100% ;
  }
}
.container .Mid-section {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.container .Mid-section .section1 {
  display: flex;
  flex-direction: row;
  margin: 5%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .Mid-section .section1 {
    width: 100%;
    height: 100% ;
  }
}
.container .Mid-section .section1 div h2 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3rem;
  margin: 5%;
}
.container .Mid-section .section1 div p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}
.container .Mid-section .section2 {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .Mid-section .section2 {
    width: 100%;
    height: 100% ;
  }
}
.container .Mid-section .section2 .btn {
  display: flex;
  justify-content: center;
  block-size: 3rem;
  align-items: center;
  width: 10rem;
  background-color: #DB7C1E;
  color: white;
  margin: 0;
  border: #2d3032 solid 1px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .container .Mid-section .section2 .btn {
    width: 50%;
    height: 100% ;
    font-size: 1rem;
  }
}
.container .Mid-section .section2 .btn:hover {
  background-color: #DB7C1E;
  color: #2d3032;
}
.container .Mid-section .section2 div h2 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 3rem;
  margin: 5%;
}
.container .Mid-section .section2 div p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}
.container .Articles {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin: 1%;
}
@media (max-width: 500px) {
  .container .Articles {
    width: 100%;
    height: 100% ;
  }
}
.container .Articles article {
  margin: 1%;
  width: 20%;
  height: max-content;
  margin-bottom: 4%;
}
@media (max-width: 500px) {
  .container .Articles article {
    display: none;
  }
}
.container .Articles article div {
  display: flex;
  justify-content: space-evenly;
}
.container .Articles article div img {
  block-size: 18rem;
}
.container .Articles article a {
  display: flex;
  font-size: 1.7rem;
  text-decoration: none;
  color: #DB7C1E;
  margin: 2%;
}
.container .Articles article p {
  display: flex;
  height: fit-content;
  margin: 2;
}
.container .End-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .End-section h2 {
  display: flex;
  font-size: 2.5rem;
  align-self: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .End-section h2 {
    font-size: 1.7rem;
  }
}
.container .End-section .btn {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 10%;
  background-color: #DB7C1E;
  color: white;
  font-size: 1.5rem;
  block-size: 3rem;
  border: none;
  margin: 3%;
  cursor: pointer;
  border-radius: 5px;
}
@media (max-width: 500px) {
  .container .End-section .btn {
    font-size: 1.2rem;
    width: 20%;
  }
}
.container .End-section .btn:hover {
  background-color: #DB7C1E;
  color: #2d3032;
}
.team-text {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 5.5rem;
  font-weight: bold;
  padding-top: 10px;
}
.team-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  width: 100%;
  margin: 5% auto;
}
.team-box a {
  text-decoration: none;
  color: black;
}
.team-box h2 {
  font-size: 3.2rem;
  font-weight: bold;
  padding-top: 10px;
}
.indiv-panel {
  text-align: center;
  border-radius: 15px;
  width: 30%;
  margin: 3%;
}
.photo {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.linked-in-logo {
  max-width: 55px;
  margin: 0 3px;
}
.about-h3 {
  margin: 5px 0;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .anchor-div {
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    width: 100%;
  }
  .header-logo {
    display: none;
  }
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .team-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-text {
    font-size: 4.5rem;
    margin-bottom: 15%;
    font-weight: bold;
  }
  .indiv-panel {
    border-radius: 15px;
    width: 55%;
  }
  .header-logo1 {
    height: 80px;
  }
  .center-me {
    margin: 8% 0;
    text-align: center;
  }
  h1 {
    font-weight: 700;
  }
}
@media (min-width: 500px) {
  .header-logo1 {
    display: none;
  }
}
