// About page styling

.team-text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 5.5rem;
}

.team-box {

    a {
        text-decoration: none;
        color: black;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
    margin: 5% auto;


}

.indiv-panel {
    text-align: center;
    border-radius: 15px;
    width: 30%;
    margin: 3%;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.linked-in-logo {
    max-width: 55px;
}



.about-h3 {
    margin: 5px 0;
    font-size: 2.5rem;
}

// Media Queries for @ or -500px

@media @phone {



    .nav-container {
        display: flex;
        max-width: 100%;
        width: 100%;
        justify-content: space-evenly;
    }

    .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-text {
        font-size: 4.5rem;
        margin-bottom: 15%;

    }

    .indiv-panel {
        border-radius: 15px;
        width: 55%;
    }
}