// About page styling

.team-text {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 5.5rem;
}

.team-box {

    a {
        text-decoration: none;
        color: black;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    width: 100%;
    margin: 5% auto;
}

.indiv-panel {
    text-align: center;
    border-radius: 15px;
    width: 30%;
    margin: 3%;
}

.photo {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.linked-in-logo {
    max-width: 55px;
}

.abouth3 {
    margin: 5px 0;
}